body{
    background-color: black;
    margin: 0;
    padding: 0;
}

.skip{
    position: relative;
    top: -40px;
}

.skip:focus{
    position: relative;
    top: 20px;
}

.skip a{
    color: white;
}

header{
    background-color: black;
    border-bottom: 5px solid white;
}

nav li{
    display: inline;
    padding: 50px 20px 50px 0px;
}

nav{
    text-align: left;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 50%;
}

nav .current{
    text-decoration: underline;
}
  
nav a:hover, a:focus{
    background-color: lightgrey;
    color: black;
}

nav .current:hover, .current:focus{
    background-color: blue;
    color: white;
    -webkit-text-decoration-style: dotted;
    text-decoration-style: dotted;
}

footer{
    background-color: black;
    border-top: 5px solid white;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer p{
    color: white;
    font-size: 50%;
}

@media only screen and (min-width: 600px){
    nav li{
        padding: 50px 0px 50px 20px;
    }
    
    nav{
        text-align: right;
        padding-bottom: 25px;
    }
    
    nav a{
        font-size: 100%;
    }

    footer{
        text-align: right;
    }
    
    footer p{
        font-size: 100%;
    }
}

@media only screen and (min-width: 900px){
    nav li{
        padding: 50px 50px 50px 0px;
    }
    
    nav{
        text-align: center;
        padding-top: 25px;
        padding-bottom: 50px;
    }
    
    nav a{
        font-size: 150%;
    }

    footer{
        text-align: center;
    }
    
    footer p{
        font-size: 150%;
    }
}